<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fucode.mapper.RechargeMapper">

    <insert id="add">
        insert into openapi.recharge values (null,
                                             #{cusId},
                                             #{orderId},
                                             #{createtime},
                                             #{updatetime},
                                             #{money},
                                             #{state},
                                             #{paymenttype})
    </insert>
    <update id="update">
        update openapi.recharge set
        <trim suffixOverrides=",">
            <if test="cusId!=null and cusId!=''">
                cusId = #{cusId},
            </if>
            <if test="orderId!=null and orderId!=''">
                orderId = #{orderId},
            </if>
            <if test="createtime!=null">
                createtime = #{createtime},
            </if>
            <if test="updatetime!=null">
                updatetime = #{updatetime},
            </if>
            <if test="money!=null and money!=''">
                money = #{money},
            </if>
            <if test="state!=null">
                state = #{state},
            </if>
            <if test="paymenttype!=null">
                paymenttype = #{paymenttype},
            </if>
        </trim>
        <where>
            id = #{id}
        </where>
    </update>
    <delete id="delete">
        delete from openapi.recharge where id in
        <foreach collection="array" open="(" close=")" item="ids">
            #{ids}
        </foreach>
    </delete>

    <select id="getAll" resultType="com.fucode.pojo.Recharge">
        select * from openapi.recharge
    </select>
    <select id="search" resultType="com.fucode.pojo.Recharge">
        select * from openapi.recharge where
        <if test="name!=null and name!=''">
            cusId=#{name}
        </if>
        <if test="state!=null">
            state=#{state}
        </if>
    </select>
</mapper>